/* Stylizacja całego kontenera */

  /* Stylizacja nagłówka */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #556480; /* Kolor nagłówka */
  }

  /* Stylizacja listy */
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Stylizacja elementów listy */
  li {
    margin-bottom: 10px;
  }

  /* Stylizacja linków */
  a::before{
    content: "#";
    font-weight: 300;
  }
  a {
    display: inline-block;
    padding: 3px 7px;
    margin-left: 1.5%;
    border-radius: 10px;
    background-color: #333; /* Kolor tła linków */
    color: #fff; /* Kolor tekstu linków */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Cień dla linków */
  }


  a:hover {
    background-color: #555; /* Kolor tła linków po najechaniu */
    background-image: linear-gradient(to bottom, #556480, #55be6f);
    color: white;
  }

  /* Animacja po najechaniu na elementy listy */
  li:hover {
    transform: translateY(-3px);
    transition: transform 0.3s ease;
  }

  hr{
    background-color: #c6c9cfbb;
  }

  .back-to-home-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #556480, #55be6f);
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .back-to-home-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .back-to-home-button:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }



.container{
  margin-left: 50px;
  width: 1200px;
}

.posts{
  width:1320px;
}


.post-title {
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
  color: #556480;
}


.post-title::before {
  content: '"';
  color: #556480;
}

.post-title::after {
  content: '"';
  color: #556480;
}

.left_panel{
  height: 100%;
}

.post-title:hover {
  opacity: 0.6;
}

.tag-text {
  font-weight: bold;
}

.post-url {
  color: black;
}

.username{
  color: gray;
}

.post-text{
  margin-top: 10px;
}

.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #222225;
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding:5px;
}

.comment{
  --post-line-color: #ccc;
  border: 1px solid #556480;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #757580;
  color: #222225;
  position: relative;
  border-radius: 4px;
  padding:5px;
}


hr{
  background-color: #556480;
}

b{
  margin-left: 1%;
}

h2{
  background-color: #556480;
  color: white;
  text-align: center;
  padding: 1%;
}

a.post-url::before{
  content: "#";
  font-size: 15px;
}

.login {
  margin-left: 3px;
  background-color: #3c3c3c;
  color: #ffffff;
}


.post-url{
  color: #556480;
}


.autorOfComment{
  color: wheat;
}

.autorOfComment::before{
  content: " Skomentował/a:  ";
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px wheat;
}

.link{
  color: white;
  font-weight: 600;
}
