<div class="policy-container">
    <h2 class="polityka-heading"><i class="bi bi-file-earmark-text"></i> Polityka prywatności <a [routerLink]="'/'" class="back-to-home-button" style="float: right;"><i class="bi bi-house-up-fill"></i> Wróć do strony głównej</a></h2>
    <hr>
    <p class="section-heading">Niniejsza polityka prywatności opisuje zasady przetwarzania przez nas informacji na Twój temat, w tym danych osobowych oraz plików cookie (ciasteczek).</p>

    <div class="polityka-section">
      <h3>1. Informacje ogólne</h3>
      <p>Niniejsza polityka dotyczy Serwisu www, funkcjonującego pod adresem URL: socialplatform.pl</p>
      <p>Operatorem serwisu oraz Administratorem danych osobowych jest: Emil Kowalczyk, Zwolińskiego 8a/19, Rawa Mazowiecka</p>
      <p>Adres kontaktowy poczty elektronicznej operatora: noreply@socialplatform.pl</p>
      <p>Operator jest Administratorem Twoich danych osobowych w odniesieniu do danych podanych dobrowolnie w Serwisie.</p>
      <p>Serwis wykorzystuje dane osobowe w następujących celach:</p>
      <ul>
        <li>Prowadzenie systemu komentarzy</li>
        <li>Prowadzenie forum internetowego</li>
        <li>Prezentacja profilu użytkownika innym użytkownikom</li>
      </ul>
      <p>Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:</p>
      <ul>
        <li>Poprzez dobrowolnie wprowadzone dane w formularzach</li>
        <li>Poprzez zapisywanie plików cookie (ciasteczek) w urządzeniach końcowych</li>
      </ul>
    </div>

    <div class="polityka-section">
      <h3>2. Wybrane metody ochrony danych stosowane przez Operatora</h3>
      <p>Miejsca logowania i wprowadzania danych osobowych są chronione w warstwie transmisji (certyfikat SSL). Dzięki temu dane osobowe i dane logowania, wprowadzone na stronie, zostają zaszyfrowane w komputerze użytkownika i mogą być odczytane jedynie na docelowym serwerze.</p>
      <p>Dane osobowe przechowywane w bazie danych są zaszyfrowane w taki sposób, że jedynie posiadający Operator klucz może je odczytać. Dzięki temu dane są chronione na wypadek wykradzenia bazy danych z serwera.</p>
      <p>Hasła użytkowników są przechowywane w postaci hashowanej. Funkcja hashująca działa jednokierunkowo - nie jest możliwe odwrócenie jej działania, co stanowi obecnie współczesny standard w zakresie przechowywania haseł użytkowników.</p>
    </div>

    <div class="polityka-section">
        <h3>3. Hosting</h3>
        <p>Serwis jest hostowany (technicznie utrzymywany) na serwerach operatora Amazon Web Services</p>
      </div>


      <div class="polityka-section">
        <h3>4. Twoje prawa i dodatkowe informacje o sposobie wykorzystania danych</h3>
        <p>W niektórych sytuacjach Administrator ma prawo przekazywać Twoje dane osobowe innym odbiorcom, jeśli będzie to niezbędne do wykonania zawartej z Tobą umowy lub do zrealizowania obowiązków ciążących na Administratorze. Dotyczy to takich grup odbiorców: </p>
            <ul>
                <li>firma hostingowa na zasadzie powierzenia</li>
            </ul>
        <p>Twoje dane osobowe przetwarzane przez Administratora nie dłużej, niż jest to konieczne do wykonania związanych z nimi czynności określonych osobnymi przepisami (np. o prowadzeniu rachunkowości). W odniesieniu do danych marketingowych dane nie będą przetwarzane dłużej niż przez 3 lata.
            Przysługuje Ci prawo żądania od Administratora:</p>
            <ul>
                <li>dostępu do danych osobowych Ciebie dotyczących,</li>
                <li>ich sprostowania,</li>
                <li>usunięcia,</li>
                <li>ograniczenia przetwarzania,</li>
                <li>oraz przenoszenia danych.</li>
            </ul>
            <p>Przysługuje Ci prawo do złożenia sprzeciwu w zakresie przetwarzania wskazanego w pkt 3.3 c) wobec przetwarzania danych osobowych w celu wykonania prawnie uzasadnionych interesów realizowanych przez Administratora, w tym profilowania, przy czym prawo sprzeciwu nie będzie mogło być wykonane w przypadku istnienia ważnych prawnie uzasadnionych podstaw do przetwarzania, nadrzędnych wobec Ciebie interesów, praw i wolności, w szczególności ustalenia, dochodzenia lub obrony roszczeń.
                Na działania Administratora przysługuje skarga do Prezesa Urzędu Ochrony Danych Osobowych, ul. Stawki 2, 00-193 Warszawa.
                Podanie danych osobowych jest dobrowolne, lecz niezbędne do obsługi Serwisu.
                W stosunku do Ciebie mogą być podejmowane czynności polegające na zautomatyzowanym podejmowaniu decyzji, w tym profilowaniu w celu świadczenia usług w ramach zawartej umowy oraz w celu prowadzenia przez Administratora marketingu bezpośredniego.
                Dane osobowe nie są przekazywane od krajów trzecich w rozumieniu przepisów o ochronie danych osobowych. Oznacza to, że nie przesyłamy ich poza teren Unii Europejskiej.</p>
      </div>

      <div class="polityka-section">
        <h3>5. Informacja o plikach cookies</h3>
        <p>Serwis korzysta z plików cookies.
            Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.
            Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.
            Pliki cookies wykorzystywane są w następujących celach:
            utrzymanie sesji użytkownika Serwisu (po zalogowaniu), dzięki której użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;
            realizacji celów określonych powyżej w części "Istotne techniki marketingowe";
            W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.
            Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.
            Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.
            Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu wykorzystywane mogą być również przez współpracujące z operatorem Serwisu podmioty, w szczególności dotyczy to firm: Google (Google Inc. z siedzibą w USA), Facebook (Facebook Inc. z siedzibą w USA), Twitter (Twitter Inc. z siedzibą w USA).</p>
      </div>

      <div class="polityka-section">
        <h3>6. Zarządzanie plikami cookies – jak w praktyce wyrażać i cofać zgodę?</h3>
        <p>Jeśli użytkownik nie chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie ze stron www
            W celu zarządzania ustawienia cookies wybierz z listy poniżej przeglądarkę internetową, której używasz i postępuj zgodnie z instrukcjami:</p>
        <ul>
            <li>Edge</li>
            <li>Internet Explorer</li>
            <li>Chrome</li>
            <li>Safari</li>
            <li>Firefox</li>
            <li>Opera</li>
        </ul>

        <p>Urządzenia mobilne: </p>
        <ul>
            <li>Android</li>
            <li>Safari (iOS)</li>
            <li>Windows Phone</li>
        </ul>
      </div>
