.panel {
  border: 2.5px solid #556480;
  border-radius: 2.5%;
  margin-left: 10%;
  height: 1000px;
  width: 100%;
  background-color: #222225;
}

.menu {
  margin-top: 11%;
}

.tags {
  margin-top: 15%;
}

hr {
  margin-top: 20%;
  background-color: #556480;
}

button {
  background-color: aliceblue;
  text-align: center;
  margin-top: 2.5%;
  border-radius: 2cap;
}

.actions_left {
  margin-top: 15%;
  margin-left: 70px;
}

.social-media {
  text-align: center;
  margin-left: 8%;
  margin-bottom: 10%;
}


/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}


.white-mode {
  text-align: center;
}

/* button styling */
.button-white {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #556480;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
/*.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
*/

/* hover */
/*.button-white:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
*/


/*---*/

/* button styling */
.button-white {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #556480;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: #222225; /* Kolor tła */
  width: 100%; /* Szerokość 100% od początku */
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  -webkit-text-stroke: 1px var(--animation-color);
  cursor: pointer;
}

.actions {
  cursor: pointer;
}

.actions:hover{
  color: #313638;
}