<div class="container">
    <div class="row">
      <div class="create-tag-container">
        <form class="post-form" [formGroup]="createTagForm" (ngSubmit)="createTag()">
          <div class="form-group">
            <div class="create-tag-heading"><i class="bi bi-bookmark-star"></i>Stwórz tag</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 6px"
              placeholder="Wpisz nazwę swojego taga">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; height: 30vh; margin-top: 10px"
              placeholder="  Napisz opis utworzonej kategorii"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard"><i class="bi bi-box-arrow-left"></i></button>
                <button [disabled]="createTagForm.invalid || createButtonDisabled" class="btnCreateTag">Stwórz</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <h5 class="rules"> <i class="bi bi-rulers"></i>     Pamiętaj o kilku zasadach!</h5>
          <hr />
          <ul>
            <br>
            <li>Dbaj o kulturę!</li>
            <li>Zachowuj się jak w realnym życiu</li>
            <li>Nie spamuj!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>