<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: left"><h4><i class="bi bi-door-open-fill"></i> Zaloguj się!</h4></div>
                <div class="card-body transparent-bg">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group row">
                            <label for="user_name" class="col-md-4 col-form-label text-md-right">Nazwa uzytkownika: </label>
                            <div class="col-md-6">
                                <input type="text" id="user_name" class="form-control" [formControlName]="'username'" name="user_name" required
                                    autofocus>
                                <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                                    Podaj prawidlowa nazwe!
                                </span>
                                </div>
                        </div>


                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Haslo: </label>
                            <div class="col-md-6">
                                <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password" required>
                                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                                    Te nie moze byc puste!
                                </span>
                            </div>
                        </div>

                        <span class="col-md-4 offset-md-8">
                            <button type="submit" class="login">
                                Zaloguj sie
                            </button>
                            <br>
                            <span class="col-md-4 offset-md-4">
                                <span style="float: right;"><i class="bi bi-person-add"></i> Nowy na SocialPlatform? <a routerLink="/rejestracja" class="register">Dołącz!</a></span>
                            </span>         
                        </span>     
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

