<div class="regulamin-container">
    <h2 class="regulamin-heading"><i class="bi bi-file-earmark-ruled"></i> Regulamin <a [routerLink]="'/'" class="back-to-home-button" style="float: right;"> <i class="bi bi-house-up-fill"></i> Wróć do strony głównej</a></h2>
    <hr>
    <p class="section-heading">Witamy na portalu społecznościowym <b>SocialPlatform!</b> Przed rozpoczęciem korzystania z naszej platformy, prosimy o zapoznanie się i zaakceptowanie poniższego regulaminu:</p>

    <div class="regulamin-section">
      <h3>§1. Rejestracja</h3>
      <p>Rejestracja na naszym portalu wymaga podania prawdziwych informacji. Nie wolno tworzyć konta na cudze dane lub używać konta, które nie należy do Ciebie.</p>
    </div>

    <div class="regulamin-section">
      <h3>§2. Zachowanie</h3>
      <p>Wszyscy użytkownicy są zobowiązani do przestrzegania zasad wzajemnego szacunku i tolerancji. Niedozwolone jest publikowanie treści obraźliwych, groźnych, pornograficznych lub niezgodnych z prawem.</p>
    </div>

    <div class="regulamin-section">
      <h3>§3. Prywatność</h3>
      <p>Szanujemy Twoją prywatność i chronimy Twoje dane osobowe zgodnie z naszą <a [routerLink]="'/polityka-prywatnosci'">polityką prywatności</a>. Zachęcamy do zapoznania się z naszą polityką w celu uzyskania szczegółowych informacji.</p>
    </div>

    <div class="regulamin-section">
      <h3>§4. Treści użytkowników</h3>
      <p>Użytkownicy są odpowiedzialni za treści, które publikują na naszej platformie. Nie wolno zamieszczać treści naruszających prawa autorskie, szerzących nienawiść, propagujących przemoc lub łamiących zasady społecznościowe.</p>
    </div>

    <div class="regulamin-section">
      <h3>§5. Odpowiedzialność</h3>
      <p>Nie ponosimy odpowiedzialności za treści zamieszczone przez użytkowników. Każdy użytkownik jest odpowiedzialny za swoje działania i treści, które publikuje na naszej platformie.</p>
    </div>

    <div class="regulamin-section">
      <h3>§6. Zgłaszanie naruszeń</h3>
      <p>Jeśli zauważysz naruszenie regulaminu lub nieodpowiednie zachowanie innych użytkowników, prosimy o zgłoszenie tego za pomocą dostępnych narzędzi zgłaszania.</p>
    </div>

    <div class="regulamin-section">
      <h3>§7. Zmiany w regulaminie</h3>
      <p>Zastrzegamy sobie prawo do wprowadzania zmian w regulaminie w dowolnym momencie. Wszelkie zmiany będą publikowane na naszej platformie i będą obowiązywać po upływie określonego terminu.</p>
    </div>

    <div class="regulamin-section">
      <h3>§8. Zakończenie</h3>
      <p>Dziękujemy za zapoznanie się z naszym regulaminem. Jeśli masz jakiekolwiek pytania lub wątpliwości, skontaktuj się z nami.</p>
    </div>
  </div>
