.create-tag-container {
    --post-line-color: #ccc;
    border: 2px solid rgba(255,255,255,0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #222225;
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10%;
    width: 850px;
    height: 500px;
  }
  
  
  .create-tag-heading {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #556480;
    font-size: 35px;
  }

  hr {
    background-color: #556480;
  }

  .btnCreateTag{
    background-color: #556480;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 210px;
    height: 32px;
  }
  
  .btnCreateTag:hover{
      background-color: #556480a1;
      border-color: #0079D3;
      color: aliceblue;
      fill: #0079D3;
      border: 1px solid;
      border-radius: 4px;
      text-align: center;
      letter-spacing: 1px;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: .5px;
      line-height: 24px;
      text-transform: uppercase;
      padding: 3px 16px;
      opacity: 1;
      width: 210px;
      height: 32px;
      cursor:pointer;
  }

  .btnDiscard {
    fill: #0079D3;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 42px;
    height: 34px;
    margin-top: 5px;
    margin-right: 3px;
    color: #556480;
    background-color: transparent;
  }


  .btnDiscard:hover {
    fill: #0079D3;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 42px;
    height: 34px;
    margin-top: 5px;
    margin-right: 3px;
    color: #556480;
    background-color: #5d5d5e;
    cursor: pointer;
  }
  
  .rules {
    background-color: #ffffff;
    border-radius: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #1f5466;
    margin-bottom: 5px;
    
  }
  

  .sidebar {
  width: 500px;
  overflow: hidden;
  height: 222px;
  padding: 5px;
  margin-top: 45%;
  background:transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 4px;
  backdrop-filter: blur(15px);
  color: #1f5466;
  position: relative;
  text-shadow: #ccc;
}

  .sidebar hr {
    background-color: #1f5466;
    margin: 0;
  }