<div class="container">
    <div class="row" id="xd">
        <div class="col-sm">
            <div class="square"><img src="assets/discover.png" alt="" style="height: 64px; width: 64px;"></div>
            <div class="square"> Odkrywaj</div>
        </div>
        <div class="col-sm">
            <div class="square"><img src="assets/share.png" alt="" style="height: 64px; width: 64px;"></div>
            <div class="square"> Dziel się z innymi</div>

        </div>
        <div class="col-sm">
            <div class="square"><img src="assets/rate.png" alt="" style="height: 64px; width: 64px;"></div>
            <div class="square">Oceniaj </div>
        </div>
    </div>
    <div class="about-us">
    <h2><i class="bi bi-file-earmark-person-fill"></i>O nas <a [routerLink]="'/'" class="back-to-home-button" style="float: right;"><i class="bi bi-house-up-fill"> </i> Wróć do strony głównej</a></h2>

    <hr>
    <div class="about-content">
      <div class="about-text">
        <p>
          Witaj na portalu społecznościowym <b>SocialPlatform</b>, który został stworzony w ramach pracy inżynierskiej. Platforma ma na celu umożliwienie użytkownikom wyrażania swoich opinii, dzielenia się treściami oraz nawiązywania kontaktów z osobami o podobnych zainteresowaniach.
        </p>
        <p>
          Jestem przekonany, iż każdy ma prawo do swojego głosu, dlatego zapewniam miejsce, w którym możesz swobodnie wyrażać swoje opinie na różne tematy. Dodatkowo, portal umożliwia tworzenie tagów, które pozwalają grupować treści i łączą użytkowników o podobnych zainteresowaniach.
        </p>
        <p>
          Celem jest stworzenie otwartej i interaktywnej społeczności, w której każdy może znaleźć miejsce dla siebie. Wierzę w siłę wspólnoty i chcemy zapewnić miejsce, w którym ludzie mogą dzielić się swoimi pomysłami, dyskutować i inspirować się nawzajem.
        </p>
        <p>
          Jeśli masz pytania, uwagi lub sugestie dotyczące naszej platformy, jestem otwarty na kontakt. Skontaktuj się wysyłając mail na adres: <b>kontakt@socialplatform.pl</b>.
        </p>
      </div>
      <div class="about-image">
        <img src="assets/icons3.png" alt="O nas">
      </div>

    </div>

    </div>
  </div>
