<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-1">
          <a aria-label="Home" class="logo" routerLink="/">
              <img src="https://kowalczykemil.pl/SocialPlatformLogo.png" alt="Logo">
              <span class="socialPlatform-text">
                  SocialPlatform
              </span>
          </a>
      </div>
      <div class="flex-grow-1">
        <button class="menu">
            <span class="menu_lg">
                <span class="menu_sl"></span>
                <span class="menu_text"><a [routerLink]="'/'">Strona Główna</a></span>
            </span>
        </button>

        <button class="menu">
            <span class="menu_lg">
                <span class="menu_sl"></span>
                <span class="menu_text"><a [routerLink]="'/lista-tagow'">Tagi</a></span>
            </span>
        </button>

        <button class="menu">
            <span class="menu_lg">
                <span class="menu_sl"></span>
                <span class="menu_text"><a [routerLink]="'/o-nas'">O nas</a></span>
            </span>
        </button>

        <button class="menu">
            <span class="menu_lg">
                <span class="menu_sl"></span>
                <span class="menu_text"><a [routerLink]="'/regulamin'">Regulamin</a></span>
            </span>
        </button>

        <button class="menu">
            <span class="menu_lg">
                <span class="menu_sl"></span>
                <span class="menu_text"><a [routerLink]="'/polityka-prywatnosci'">Polityka prywatności</a></span>
            </span>
        </button>

        <button class="donate" hide-donate><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
            <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
        </svg> <a target="_blank" href="https://buycoffee.to/socialplatform"> DOTACJA</a></button>
      </div>
      <div class="menu-container float-right" *ngIf="loggedIn(); else loggedOutMenu">
        <label class="userdetails" for="menu-toggle">
            <img class="account-icon" src="assets/user.png">
            {{getUsername()}}
        </label>
        <input type="checkbox" class="menu-toggle" id="menu-toggle">
        <ul class="dropdown-menu" aria-labelledby="dropdownBasic2">
            <li routerLink="/uzytkownicy/{{getUsername()}}"><i class="bi bi-person-vcard-fill"></i> Profil</li>
            <li class="disabled"><i class="bi bi-gear"></i> Ustawienia</li>
            <li class="divider"></li>
            <li (click)="logout()"><i class="bi bi-door-closed"></i> Wyloguj się</li>
        </ul>
    </div>    
          <ng-template #loggedOutMenu>
              <button class="register"><a routerLink="/rejestracja" class="float-right">Zarejestruj się!</a></button>
              <a [routerLink]="'/zaloguj'" class="float-right login mr-2">Zaloguj</a>
          </ng-template>
  </nav>
</header>
