<div *ngIf="!posts || posts.length == 0">
  <span>Pod tym tagiem jeszcze nie ma żadnego posta, możesz dodać pierwszy!</span>
</div>
<div class="row post" *ngFor="let post of posts">
  <app-rate-button [post]="post"></app-rate-button>
  <div class="col-md-12">
    <div class="post-title">
      <a class="postname" href="{{post.url}}">{{post.postName}}</a>
      <span class="tag-text float-right"><a class="posturl_tag" routerLink="/wyswietl-tag/{{post.tagName}}">{{post.tagName}}</a></span>
      <hr/>
    </div>
    <div>
      <p class="post-text" [innerHtml]="post.description"></p>
      <br>
    </div>
    <span>
      <a class="btnCommments" role="button">
        <i class="bi bi-chat-left-text"> </i> ({{post.commentCount}})
      </a>
      <button class="login" (click)="goToPost(post.id)">
        <i class="bi bi-book"></i>
        Czytaj więcej
      </button>
      <hr/>
    </span>
    <span class="tag-info">
      <span class="col-13 float-left"> <a class="createdby"><i class="bi bi-person-badge"></i> Stworzone przez: </a><a class="username" routerLink="/uzytkownicy/{{post.userName}}">{{post.userName}}</a></span>
      <span class="col-13 float-right"><i class="bi bi-clock"></i> {{post.duration}}</span>
    </span>
  </div>

</div>
