.register-section{
    margin: 100px;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.card{
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  color: #1f5466;
}

.card-header{
  color: white;
}

input{
  background: transparent;
}

.sign-up {
  width: 130px;
  height: 37px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 1rem;
  border: none;
  margin-right: 25px;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.sign-up::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(2,245,255,1), 100.2%,rgb(199, 248, 66) 17.8% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.loginn{
  color: #ffffff; 
  text-shadow: #556480 2px 2px;
  font-weight:bolder;
}

  button {
    margin: 2%;
  }

  input.ng-invalid.ng-touched{
    border: 1px solid red;    
}

.sign-up:hover{
    opacity: 0.6;
}