
<div class="body">
  <div>
    <div class="row">
      <div class="left_panel">
    <app-left-panel></app-left-panel>
  </div>
    <div class="container">
        <div class="posts">
          <div class="row post">
            <div class="col-md-3">
              <app-rate-button [post]="post"></app-rate-button>
            </div>
            <div class="col-md-12">
              <a routerLink="post.url" class="post-title">{{post.postName}}</a>
              <span class="tag-text float-right"><a class="posturl_tag" routerLink="/wyswietl-tag/{{post.tagName}}">{{post.tagName}}</a></span>
              <hr>
              <div>
                <p class="post-text" [innerHtml]="post.description"></p>
              </div>
              <div class="post-comment">
                <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                  <div class="form-group">
                    <textarea class="form-control" [formControlName]="'text'" placeholder="Napisz co o tym sądzisz!"></textarea>
                  </div>
                  <button *ngIf="isLoggedIn()" type="submit" class="login float-right">Skomentuj</button>
                  <span class="warn text" *ngIf="!isLoggedIn()"><b><i class="bi bi-exclamation-triangle-fill"></i> Zaloguj</b> się aby czytać oraz dodawać komentarze!</span>
                  <br>
                  <br>
                  <span><i class="bi bi-person-badge"></i>  Stworzone przez:
                    <a *ngIf="post.userName === null" class="username" href="">Anonymous</a>
                    <a *ngIf="post.userName != null" class="username" href="/uzytkownicy/{{post.userName}}">{{post.userName}}</a>
                  </span>
                  <span class="float-right"> <i class="bi bi-clock"></i> {{post.duration}} </span>
                </form>
                <hr>
                <h2><i class="bi bi-chat-left-text"></i> Sekcja komentarzy:</h2>
                <hr>
              </div>
              <div style="margin-top: 30px;" *ngFor="let comment of comments">
                <div class="comment">
                  <b>{{comment.text}}</b>
                  <div class="username">
                    <a routerLink="/uzytkownicy/{{comment.userName}}" class="link" style="float: right;"><i class="bi bi-person-badge"> </i><span class="autorOfComment">{{comment.userName}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  </div>


